.contenedor-crear-hoteles {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
  }

.boton-crear-hotel {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  .boton-crear-hotel:active {
    transform: scale(0.95);
  }
  
  .boton-crear-hotel:focus {
    outline: none;
  }
  
  .boton-crear-hotel.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }
  
  .boton-crear-hotel:hover {
    background-color: #7f1818;
    color: #ffffffd8;
  }