.contenedor-de-hoteles{
  display: content;
}

.contenedor-boton-redireccion {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Agregado para separar del siguiente elemento */
  }
  
  .boton-redireccion {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  .boton-redireccion:active {
    transform: scale(0.95);
  }
  
  .boton-redireccion:focus {
    outline: none;
  }
  
  .boton-redireccion.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }
  
  .boton-redireccion:hover {
    background-color: #7f1818;
    color: #ffffffd8;
  }
