@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

h2 {

    color: black;
    display: inline-flex;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}