* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 10;
}

body {
    overflow-x: hidden;
    width: 100%;
    margin: 0 auto;
    max-width: 100%;
    background-color: #95190d;
    background-repeat: no-repeat;
    background-size: cover;
}

.div1 {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo {
    width: 200px;
    height: 200px;
}


.menú {
    height: 90px;
    margin-right: 60px;
}

.menú nav {
    height: 100%;
}

.menú nav ul {
    height: 100%;
    display: flex;
    list-style: none;
}

.menú nav ul li {
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.páginaSeleccionada:before {
    content: '';
    width: 100%;
    height: 4px;
    background: #95190d;
    position: absolute;
    top: 0;
    left: 0;
}

.menú nav ul li a {
    color: #95190d;
    font-size: 18px;
    transition: color 300ms;
    font-family: Rockwell;
}

.menú nav ul li a:hover {
    color: #630e03;
}

.menú .textoSeleccionado {
    color: #95190d;
}

.menú nav ul li a i {
    display: none;
}

.líneaRecta {
    border-top: 2px solid grey;
}

/* Linea membrete LISTO*/

.líneaPunteada {
    border-top: 1px dashed grey;
}

.títuloDePágina {
    font-family: Rockwell;
    display: inline-block;
    text-align: left;
    vertical-align: 100%;
    color: #95190d;
    text-shadow: 1px 1px 30px rgb(255, 255, 255), 2px 5px 2px rgb(177, 176, 176);
}

h1 {
    color: #95190d;
    font-size: 200%;
    font-family: Baristo;
}

.contenedor-botones {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 8em 18% 7%;
}

.boton-uno {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background: #ffffff;
    color: #2c2c2e;
    font-family: Rockwell;
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.boton-uno::after {
    content: "";
    width: 100%;
    height: 80px;
    background-color: #7fd895;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.boton-uno:hover::after {
    top: 0;
}

.boton-uno span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}